Package: waydroid-companion
Version: 0.0.3
Section: utility
Prioiroty: optional
Architecture: all
Depends: yad
Maintainer: thomas.hastings@tutanota.com
Description: A wrapper for commands to manage Waydroid
